#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 25%;
  padding: 0 15px;
}
